<div class="container">


 <br>
    <h4 class="text-danger"> Papdi Pizza|Tea Time Snack  </h4>
    <br>
    <img src="assets/a1.jpg" alt=" " class="img-fluid"  height="900px" width="600px"/>
    <br> <br>
    <p>  Papdi Pizza|Tea Time Snack is a simple, easy snack recipe where papris are spread with pizza sauce mixed with some toppings and then topped with shredded cheese and baked.This is a great finger food idea for kitty parties ,kids evening snacks or even for adults with some chai.
        </p>

   <br> 
   <h5 class="text-danger">
    Ingredients
   </h5>
   <p> Papdis as required
       <li> 1/4 cup Pizza sauce</li> 
       <li>  2 tbsp onion,finely chopped</li> 
        <li>2 tbsp tomato,finely chopped </li>
     <li>    2 tbsp capsicum/bell pepper,finely chopped</li>
      <li>   2 tbsp sweet corn,boiled</li>
       <li> Mozzarella cheese grated as required</li>
       <li>  1/2 tsp black pepper powder</li>
        <li> 1/4 tsp chilli flakes (optional)</li>
       <li> salt as per taste</li>
        
        </p>
   <div>
        <h5 class="text-danger">
                Direction </h5>
       <ol>
           <li>
                In a bowl,add together pizza sauce,vegetables,pepper powder,chill flakes and salt ,mix well .
           </li>
           <li>
                Spread papdi on a table,Put a tablespoon of prepared mixture on each papdi.

           </li>
           <li>
                Then add grated mozzarella cheese on top of each papdi.
           </li>
           <li>
                Heat tawa on a low flame,apply some butter and place these papdi’s on the tawa,close the lid and cook on low flame until cheese melts(takes appx 3-4 minutes).OR
           </li>
           <li>
                Transfer papdi’s on a butter paper lined baking tray and bake in a preheated oven at 180 °C/360 F (appx takes 3-5 minutes) till the cheese ,melts.
           </li>
           <li> 
                move and Place the papdi on a serving platter and sprinkle some sev on top. Serve immediately garnished with coriander sprigs.
           </li>
       </ol>
       <br> <br>
   </div>
   </div>
