<footer>
    <div class="w3ls-footer-grids py-4">
        <div class="container-fluid py-lg-3">
            <div class="d-md-flex">
                <div class="col-md-4 w3l-footer-logo">
                    <!-- logo 2 -->
                    <h2>
                        <a href="index.html" style="color: white;">Food Blog</a>
                    </h2>
                    <!-- //logo 2 -->
                </div>
                <div class="col-md-8 w3l-footer text-md-right text-center mt-3">
                    <ul class="list-unstyled footer-nav-wthree  ">
                        <li>
                            <a  [routerLink]="[ '/home' ]"> Home</a>
                        </li>
                        <li>
                            <a  [routerLink]="[ '/about' ]">About Us</a>
                        </li>
                        <li>
                            <a    [routerLink]="[ '/home' ]" > Blog </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/contact' ]" >Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- //footer -->
<!-- copyright bottom -->
<div class="copy-bottom py-4">
    <div class="container-fluid">
        <div class="d-sm-flex px-md-3">
            <!-- copyright -->
            <div class="copy_right mr-auto">
                <p  style="color: white;">© 2019 Food Blog. All rights reserved | Design by
                    <a href="#" target="_blank">Saviee</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- footer social icons -->
            <div class="social-icons-footer mt-sm-0 mt-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/savita.wadje.9">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //footer social icons -->
        </div>
    </div>
</div>
<!-- //copyright bottom -->
</footer>