

      <!-- <h2 class="text-center" style="color: deeppink;" > Sunday Special </h2> -->

	<!-- blog -->
	<section class="wthree-row ">
    
      <div class="container pt-4">
        <div class="row">
          <div class="col-lg-4 blog-sldebar-right">
           
            <div class="single-gd tech-btm">
              <h4>Top stories of the week </h4>
              <div class="blog-grids">
                <div class="blog-grid-left">
                  <a [routerLink]="[ '/recipe/papadi' ]" >
                    <img src="assets/a1.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="blog-grid-right">
                  <h5>
                    <a  [routerLink]="[ '/recipe/papadi' ]" >  Papdi Pizza|Tea Time Snack</a>
                  </h5>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="blog-grids mt-4">
                <div class="blog-grid-left">
                  <a    [routerLink]="[ '/recipe/sundaeicecream' ]" >
                    <img src="assets/a3.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="blog-grid-right">
                  <h5>
                    <a   [routerLink]="[ '/recipe/sundaeicecream' ]" > Summer Homemade ice-cream sundae for this weekend</a>
                  </h5>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="blog-grids mt-4">
                <div class="blog-grid-left">
                  <a [routerLink]="[ '/recipe/pancake' ]">
                    <img src="assets/a6.jpg" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="blog-grid-right">
                  <h5>
                    <a [routerLink]="[ '/recipe/pancake' ]"> Chocolate pancake for the chocolate lovers. The perfect weekend breakfast</a>
                  </h5>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
            
          </div>
          <div class="col-lg-8 blog-left-content mt-lg-0 mt-5">
            <div class="creatives-grid">
              <a  [routerLink]="[ '/recipe/app-pancake' ]">
                <img src="assets/a5.jpg" alt=" " class="img-fluid" />
              </a>
              <div class="p-mask img-thumbnail">
                <h4><a   [routerLink]="[ '/recipe/app-pancake' ]" class="text-danger"> Chocolate Pancakes</a></h4>
                <span class="let mt-3">Feb 20, 2019</span>
                <hr>
                <p>These Chocolate Pancakes are soft, fluffy and so decadent. In addition to cocoa powder and chocolate chips in the batter, these pancakes are drizzled with a chocolate ganache for another dose of chocolate. They make perfect weekend breakfast for true chocolate lovers! 
                </p>
                <a class=" btn "  [routerLink]="[ '/recipe/pancake' ]" >Read More</a>
              </div>
            </div>
            <div class="creatives-grid">
              <a  [routerLink]="[ '/recipe/papadi' ]" >
                <img src="assets/a1.jpg" alt=" " class="img-fluid" />
              </a>
              <div class="p-mask img-thumbnail">
                <h4><a  [routerLink]="[ '/recipe/papadi' ]" class="text-danger"> Papdi Pizza|Tea Time Snack  </a></h4>
                <span class="let mt-3">Feb 20, 2019</span>
                <hr>
                <p>  Papdi Pizza|Tea Time Snack is a simple, easy snack recipe where papris are spread with pizza sauce mixed with some toppings and then topped with shredded cheese and baked.This is a great finger food idea for kitty parties ,kids evening snacks or even for adults with some chai.
                    </p> <a class=" btn"   [routerLink]="[ '/recipe/papadi' ]" >Read More</a>
              </div>
            </div>
            <div class="creatives-grid">
              <a [routerLink]="[ '/recipe/eggfry' ]" >
                <img src="assets/a9.jpg" alt=" " class="img-fluid" />
              </a>
              <div class="p-mask img-thumbnail">
                <h4><a  [routerLink]="[ '/recipe/eggfry' ]"  class="text-danger"> Breakfast fried rice with egg fry</a></h4>
                <span class="let mt-3">Feb 20, 2019</span>
                <hr>
                <p>When you think of breakfast, fried rice is probably not the first thing that pops into your head. In fact, it may be nowhere on your radar. Growing up with a my father, we always had a pot of cooked rice at the ready and when we had leftovers. my father would make breakfast fried rice in the morning. This is my take on a childhood favorite. </p>
                <a class="btn"  [routerLink]="[ '/recipe/eggfry' ]"  >Read More</a>
              </div>
            </div>
            <!-- <nav aria-label="Page navigation example">
              <ul class="pagination float-left mt-5">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="blog1.html">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="blog2.html">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="blog3.html">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="blog4.html">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="blog4.html">Next</a>
                </li>
              </ul>
            </nav> -->
          </div>
        </div>
      </div>
    </section>


















   <!-------------------------------------------------more ------------------------------------------------------------>
      <!--  <section class="blog_w3ls py-5" id="more">
          <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle mb-sm-5 mb-4">You may also like</h3>
            <div class="row">
            
              <div class="col-lg-4 col-md-6 mt-4">
                <div class="med-blog">
                  <div class="blog-header">
                    <a href="blog1.html">
                      <img class="img-fluid" src="assets/a7.jpg" alt="image">
                    </a>
                  </div>
                  <div class="blog-body bg-wh p-4">
                    <span>March 12, 2019 - loremipsum</span>
                    <a href="blog1.html" class="blog-title">Dictum porta auris magna umgtdd fos</a>
                    <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                      se.</p>
                  </div>
                </div>
              </div>
             
              <div class="col-lg-4 col-md-6 mt-4">
                <div class="med-blog">
                  <div class="blog-header">
                    <a href="blog2.html">
                      <img class="img-fluid" src="assets/a11.jpg" alt="image">
                    </a>
                  </div>
                  <div class="blog-body bg-wh p-4">
                    <span>March 14, 2019 - pharetra</span>
                    <a href="blog2.html" class="blog-title">Quis autem vel eum iure reprehdd ende</a>
                    <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                      se.</p>
                  </div>
                </div>
              </div>
             
              <div class="col-lg-4 col-md-6 mt-4">
                <div class="med-blog">
                  <div class="blog-header">
                    <a href="blog4.html">
                      <img class="img-fluid" src="assets/a8.jpg" alt="image">
                    </a>
                  </div>
                  <div class="blog-body bg-wh p-4">
                    <span>March 16, 2019 - portaout</span>
                    <a href="blog4.html" class="blog-title">Suscipit labo iosam nisi ut aliquid</a>
                    <p>Cras ultricies ligula sed magna dictum portaout auris blandita. Nulla viverra pharetra
                      se.</p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </section>  -->


        <!-- //more -->
   