<div class="container">

    <br>

    <h4 class="text-danger"> Summer Homemade ice-cream sundae for this weekend </h4>
    <br>
    <img src="assets/a3.jpg" alt=" " class="img-fluid" height="300px" width="400px" />
    <br> <br>
    <p>Oreos and ice cream are great treats for those with a sweet tooth, but what if you have an even sweeter tooth that you can't seem to sate? Try combining those together to make an Oreo ice cream sundae that's sure to satisfy your need for sweets! </p>

    <br>
    <h5 class="text-danger">
        Direction 
    </h5>
    <div>
        <ol>
            <li>
                
Crush some Oreos on a cutting board. Try a combination of partly-crushed pieces of Oreos and fully-crushed Oreo dust for a variation in texture.

            </li>
            <li>
                    Scoop two to four scoops ice cream into a bowl. You can use any flavor you'd like; vanilla is recommended for those who want to taste the Oreos, while chocolate is recommended for any chocoholic out there. Oreo ice cream is a good choice for an even more intense Oreo sundae!   
            </li>
            <li>
                    Sprinkle some crushed Oreo over the ice cream.
             </li>
            <li> Add whaterve you want add like chocolate bar, chocolate, oreo biscuit </li>
           
            <li> Add more Oreos. Sprinkle them over the entire sundae in as much or as little volume as you'd like. You can also choose to line full Oreos around the rest of the sundae, if desired. </li>
        
            <li> Stick an Oreo onto the side of the sundae bowl, if desired. Serve with a glass of milk. Enjoy!  </li>
        </ol>
<br> <br>
    </div>
</div>