<div class="container">


<br> 
    <h4 class="text-danger"> Chocolate Pancakes</h4>
    <img src="assets/a5.jpg" alt=" " class="img-fluid" height="800px" width="500px" />
    <img src="assets/a6.jpg" class="img-fluid" alt="" height="300px" width="400px" style="padding:5%">
    <p>These Chocolate Pancakes are soft, fluffy and so decadent. In addition to cocoa powder and chocolate chips in the
        batter, these pancakes are drizzled with a chocolate ganache for another dose of chocolate. They make perfect
        weekend breakfast for true chocolate lovers!
    </p>

    <h5 class="text-danger">
        Directions
    </h5>
    <p>
        These chocolate pancakes are great for breakfast or dessert.

        Notes:

        <li> Make sure to use regular cocoa powder in this recipe, not Dutched. </li>
        <li> Do not overmix the batter. Avoid making it smooth. </li>
        <li> Maple syrup or raspberry preserves are good substitutes for the chocolate sauce. </li>
</p>
    
        <ol>
            <li>
                In large bowl, sift together flour, cocoa, sugar, baking powder, salt, and baking soda. In medium bowl,
                whisk eggs, melted butter, and milk. Pour liquid ingredients into dry and gently mix until batter is
                just moistened (there will be some lumps).
            </li> <br> 
            <li>
                Melt small piece of butter in large non-stick skillet over medium heat. Drop 2 heaping tablespoons
                batter in hot skillet and spread into 2 1/2 inch disc. Space discs 2 inches apart. Cook until bubbles
                form over entire top, about 30 seconds. Using heatproof, non-stick spatula, carefully flip pancake and
                continue to cook until done, 15 to 30 seconds more.
            </li> <br> 
            <li>
                In small saucepan, heat milk to just simmering. Add chocolate and whisk until smooth. Whisk in vanilla.
                Serve over pancakes.
            </li>

            <br> <br>
        </ol>
        
    
    <div>

    </div>
</div>